.container-chat{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 300;
}

.chatbody{
    max-width: 560px;
    margin: 10px auto;
    border: 1px solid #286090;
    border-radius: 6px;
}

.panel{
    height: 250px;
    margin-bottom: 0px;
    max-width: 560px;
}

.panel-footer{
    position: absolute;
    padding-top:1%; 
    bottom: 1px; 
    width: 100%; 
    max-width: 557px;
}

.panel-body{
    background: #e5e5e5;
    height: 95%;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 560px;
}
.top-bar {
    background: #286090;
    color: white;
    position: relative;
    overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
    background: #ccc;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
    margin: 1%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    overflow: hidden;
    display: flex;
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.consoleMessages{
    text-align: left;
}

.col{
    padding: 0;
}
