<div class='adminPageContainer'>
  <h1 class='adminPageHeader'>
    Admin page
  </h1>
  <hr>

  <div class='stickyToolbar'>
    <mat-toolbar class='adminToolbar'>        
        <button id="addGameButton" class='toolbarButtons' mat-raised-button [matMenuTriggerFor]="menu">Ajouter une partie</button>
        <mat-menu #menu="matMenu">
          <button id="dialogueSimpleBouton" mat-menu-item (click)="openDialogSimple()">Point de vue simple</button>
          <button mat-menu-item (click)="openDialogMultiple()">Points de vue multiples</button>
        </mat-menu>
        <button class='toolbarButtons' mat-raised-button>Supprimer une partie</button>
    </mat-toolbar>
  </div>
  
  <app-liste-parties style='display: flex'></app-liste-parties>

</div>


