.modal-body
{
    margin:5%;
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 20px;
}

.gameName
{
    text-align: center;
}

#gameNameInput
{
    display:block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
}

#fileLoader
{
    display:none;
}

.imageButtons
{
    color: white;
    font-weight: bold;
    background-color: cornflowerblue; 
    width:100%;
}

.firstImage
{
    width: 40%;
    float: left;
    text-align: center;
    margin-left:3%;
}

.secondImage
{
    width: 40%;
    float: right;
    text-align: center;
    margin-right:3%;
}

#uploadImage1
{
    position:absolute;
    top:70px;
    left:20px;
}

#uploadImage2
{
    position:absolute;
    top:70px;
    left:140px;
}

.imageFrame
{
    margin-top:6%;
    border: 2px solid black;
    height:100px;
}

#maskHeigth
{
    position: relative;
    top:-2px;
    left:8px;
    width:90%;
    height:101px;
    background-color: burlywood;
}

#maskWidth
{
    position: relative;
    bottom:94px;
    right:5px;
    width:170px;
    height:85%;
    background-color: burlywood;
}