<div class="adminPageContainer">
  <h1 class="adminPageHeader">
    Administration
  </h1>
  <hr>

  <div class="stickyToolbar">
    <mat-toolbar class="adminToolbar">        
        <button id="addGameButton" class="toolbarButtons" mat-raised-button [matMenuTriggerFor]="menu">Ajouter une partie</button>
        <mat-menu id="menuBouton" #menu="matMenu">
          <button id="simpleDialog" class="menu-item" mat-menu-item (click)="openDialogSimple()">Point de vue simple</button>
          <button id="multipleDialog" class="menu-item" mat-menu-item (click)="openDialogMultiple()">Points de vue multiples</button>
        </mat-menu>
    </mat-toolbar>
  </div>
  
  <app-liste-parties></app-liste-parties>

</div>
