.soloGames
{
    border-style:solid;
    border-width:5px;
    width: 40%;
    height: 100%;
    background-color: burlywood;
}

.gameNames
{
    padding-top:2%;
    text-align: center;
}

.gameImage
{
    width:40%;
    padding-left:5%;
    padding-bottom:5%
}

.topThree
{
    padding-right:5%;
    padding-bottom:5%;
    float:right;
    width:40%;
    line-height: 2px;
}

.topThreeHeader
{
    text-align: center;
}

.soloLine
{
    float:left;
    padding-left:15%;
}

.oneVsOneLine
{
    float:right;
    padding-right:15%;    
}