<!-- Display la liste des parties ici -->
<div class="gameListContainer container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <!-- Liste des parties point de vue simple -->
            <h2 class='simpleAndMultipleGamesHeader'>Parties en mode point de vue simple</h2>
            <hr>
            <app-liste-partie-simple></app-liste-partie-simple>
        </div>
        <div class="col-lg-6">
            <h2 class='simpleAndMultipleGamesHeader'>Parties en mode points de vue multiples</h2>
            <hr>
            <app-liste-partie-multiple></app-liste-partie-multiple>
       </div>
    </div>
</div>
