@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Handlee');

.gameListContainer
{
    width:95%;
}

.simpleAndMultipleGamesHeader
{
    text-align: center;
    font-family: 'Handlee', cursive;
}

hr
{
    width:95%;
}
