<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>   

<div class="container-fluid ">
    <div>
        <h1 class="title">
            Il reste 1 différence à trouver!
        </h1>
    </div>

    <div>
        <div class="row">
            <div class="col-lg-6 ">
                <img [ngClass]="{'blurImg': blur}" (click)="terminerPartie()" src="https://static.gamespot.com/uploads/original/1575/15759911/3392408-pokemon-letsgopikachueevee-promo.jpg" alt="">
            </div>
            <div class="col-lg-6 ">
                <img [ngClass]="{'blurImg': blur}" (click)="terminerPartie()" src="https://static.gamespot.com/uploads/original/1575/15759911/3392408-pokemon-letsgopikachueevee-promo.jpg" alt="pokémon-droite"> 
            </div>
        </div>  
        <button mat-button id="StartButton" class="mat-elevation-z6" (click)="start()">Commencer!</button>
    </div>
    <div class="chrono">
        {{chrono.getMinutesString()}}:{{chrono.getSecondsSrtring()}}
    </div>

    <div>
            Cliquez sur une image pour simuler la fin de la partie
    </div>
    
</div>

