img{
    max-width: 95%;
    max-height:95%;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
}

.blurImg{
    filter: blur(1.5rem);
}

.title{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

#StartButton{
    background-color: rgb(43, 43, 43);
    color: aliceblue;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.timer{
    
}
