<div>
    <span><button (click)="startTimer()">Start</button></span>
    <span><button (click)="stopTimer()">Stop</button></span>
    <span><button (click)="reset()">Reset</button></span>
</div>
<div>{{minutesString}}:{{secondsString}}</div>
<div>
    <img src="https://nationalinterest.org/sites/default/files/styles/desktop__1486_x_614/public/main_images/abrams-transparent_2.png?itok=t91QFY6W" alt="tank">
    <img src="https://res.cloudinary.com/teepublic/image/private/s--UvSUNgzW--/b_rgb:fffffe,t_Heather%20Preview/c_lpad,f_jpg,h_630,q_90,w_1200/v1494469473/production/designs/1595608_1.jpg" alt="unicorn">
</div>
