canvas{
    max-width: 640px;
    max-height:480px;
    min-width: 640px;
    min-height: 480px;
    border-radius: 35px;
    display: block;
    margin: 0 auto;
}

.divImg{
    min-width: 680px;
}

#divMessagesConsole {
    text-align: center;
}

.title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: rgba(48, 46, 45, 1);
}

#StartButton{
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.chrono{
    text-align: center;
    font-size: 38px;
}

.card{
    max-width: 680px;
    background-color: #f2eeee;
}

.not-allowed { cursor: not-allowed; }

body {
    position: relative;
}

.image-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.image-wrapper.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
