<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container-fluid">
    <div>
        <h1 class="title">
            {{ partieAttributsAdmin.messageDifferences }}
        </h1>
    </div>
    <div class="chrono title">
        <span>{{chrono.getMinutesString()}}:{{chrono.getSecondesString()}}</span>
    </div>
</div>

<div class="container-fluid" id="images">
  <div>
      <div class="col-sm-12 col-lg-6 divImg">
          <mat-card class="container-fluid card">
              <div class="row">
                  <canvas [ngClass]="{'not-allowed': this.partieAttributsAdmin.penaliteEtat}" (click)="testerPourDiff($event)" #canvas id="canvasG" width="640" height="480"></canvas>
              </div>
          </mat-card>
      </div>
      <div class="col-sm-12 col-lg-6 divImg">
          <mat-card class="container-fluid card">
              <div class="row">
                  <canvas [ngClass]="{'not-allowed': this.partieAttributsAdmin.penaliteEtat}" (click)="testerPourDiff($event)" #canvas id="canvasD" width="640" height="480"></canvas>
              </div>
          </mat-card>
      </div>
    </div>
</div>
<div class="footer">
    <app-chat></app-chat>
</div>

