<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container-fluid ">
  <div>
      <h1 class="title">
          {{ messageDifferences }}
      </h1>
  </div>

  <div>
      <div class="col-sm-6 divImg">
          <mat-card class="container-fluid card">
              <div class="row">
                  <canvas [ngClass]="{'blurImg': blur}" (click)="testerPourDiff($event.offsetX,$event.offsetY)" #canvas id="canvasG" width="640" height="480"></canvas>
              </div>
          </mat-card>
      </div>
      <div class="col-sm-6 divImg">
          <mat-card class="container-fluid card">
              <div class="row">
                  <canvas [ngClass]="{'blurImg': blur}" (click)="testerPourDiff($event.offsetX,$event.offsetY)" #canvas id="canvasD" width="640" height="480"></canvas>
              </div>
          </mat-card>
      </div>

      <button mat-button id="StartButton" class="mat-elevation-z6" (click)="start()">Commencer!</button>
  </div>

  <div class="chrono">
      {{chrono.getMinutesString()}}:{{chrono.getSecondsSrtring()}}
  </div>

  <app-chat></app-chat>

</div>