<h1 mat-dialog-title>Ajouter une partie en point de vue multiple</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <mat-card class='addGameCard mat-elevation-z10'>
        <div class='gameName'>
            <mat-form-field class='formField'>
                <input matInput [(ngModel)]="data.multipleGameName" type='text' placeholder="Nom de la partie" class='gameNameInput'>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div>
            <mat-form-field class='formField'>
                <input matInput [(ngModel)]="data.quantiteObjets" type='text' placeholder="Quantité d'objets" class='qtyObjetInput'>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div>
            <div class="secondaryText">Veuillez choisir la transformation à appliquer:</div>
            <mat-radio-group class="radioGroup" required="true">
                <mat-radio-button value="ajout"class="radiobutton">Ajout</mat-radio-button>
                <mat-radio-button value="suppression"class="radiobutton">Suppression</mat-radio-button>
                <mat-radio-button value="changementCouleur" class="radiobutton">Changement de couleur</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-divider></mat-divider>
        <div class="secondaryText">Veuillez choisir un thème parmis les suivants:</div>
        <div>
            <form>
                <button mat-button [ngClass]="toggle ? 'clicked' : 'notClicked'" value ="geo" id="geometricThemeButton" (click)='onThemeClickButton($event)' class='dialogButtons mat-elevation-z6'>Géométrique</button>
            </form>
        </div>
    </mat-card>
    <button mat-button (click)='onClickAjouterPartie()' class='dialogButtons mat-elevation-z6'>Ajouter</button>
    <button mat-button (click)="surClickExterieurDialog()" class='dialogButtons mat-elevation-z6'>Annuler</button>
    <p id='errorMessage'> {{ errorMessage }} </p>
</div>