<div *ngFor="let partieSimple of listeParties">
    <mat-card class='container-fluid' 
    [class.mat-elevation-z6]="!partieSimple.isElevatedActive"
    [class.mat-elevation-z10]="partieSimple.isElevatedActive"
    (mouseenter)="partieSimple.isElevatedActive = !partieSimple.isElevatedActive"
    (mouseleave)="partieSimple.isElevatedActive = !partieSimple.isElevatedActive">
        <mat-card-header>
            <h2 class='gameNameHeader titleFirstLetter'>{{getTitleFirstLetter(partieSimple._nomPartie)|uppercase}}</h2>
            <h2 class='gameNameHeader'>{{getTitleWithoutFirstLetter(partieSimple._nomPartie)}}</h2>
        </mat-card-header>
        <div class='row'>
            <div class='col-sm-6'>
                <img src={{partieSimple._image1}} class='gameImage img-responsive mat-elevation-z6 center'
                [class.mat-elevation-z6]="!partieSimple.isElevatedActive"
                [class.mat-elevation-z10]="partieSimple.isElevatedActive">
            </div> 
            <div class='col-sm-6'>
                <div class='row'>
                    <div class='col-sm-12 top'>
                        <h2 class='topThreeHeaders'>Top <img class='bronzeMedal' src="assets/bronze-medal.png"></h2>
                    </div>
                    <div class='col-sm-1 text-center topThreeNumbersColumn'>
                        <span matBadge="1" matBadgeOverlap="true" matBadgeColor="warn"></span> <br>
                        <span matBadge="2" matBadgeOverlap="true" matBadgeColor="warn"></span> <br>
                        <span matBadge="3" matBadgeOverlap="true" matBadgeColor="warn"></span> <br>
                    </div>  
                    <div class='col-sm-4 text-center'>
                        <h2 class='topThreeHeaders'> Solo </h2>
                        <p> {{ getBestTime(partieSimple._tempsSolo) }} </p> 
                        <p> {{ getSecondBestTime(partieSimple._tempsSolo) }} </p> 
                        <p> {{ getThirdBestTime(partieSimple._tempsSolo) }} </p>
                        <button mat-button class='mat-elevation-z6'
                                [routerLink]="['/partie-solo/', partieSimple._id]" routerLinkActive="router-link-active">Jouer</button>
                    </div>
                    <div class='col-sm-2'></div>
                    <div class='col-sm-4 text-center'>
                        <h2 class='topThreeHeaders'> 1v1 </h2> 
                        <p> {{ getBestTime(partieSimple._tempsUnContreUn) }} </p> 
                        <p> {{ getSecondBestTime(partieSimple._tempsUnContreUn) }} </p> 
                        <p> {{ getThirdBestTime(partieSimple._tempsUnContreUn) }} </p>
                        <button mat-button (click) = "supprimerPartie(partieSimple._id)" class='mat-elevation-z6'> {{creerOuSupprimer}} </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>  
    <br> 
</div>