<div *ngFor="let partieSimple of listeParties">
    <mat-card class='container-fluid' 
    [class.mat-elevation-z6]="!partieSimple.isElevatedActive"
    [class.mat-elevation-z10]="!!partieSimple.isElevatedActive"
    (mouseenter)="partieSimple.isElevatedActive = !partieSimple.isElevatedActive"
    (mouseleave)="partieSimple.isElevatedActive = !partieSimple.isElevatedActive">
        <mat-card-header>
            <h2 class='gameNameHeader titleFirstLetter'>{{getTitleFirstLetter(partieSimple._nomPartie)|uppercase}}</h2>
            <h2 class='gameNameHeader'>{{getTitleWithoutFirstLetter(partieSimple._nomPartie)}}</h2>
        </mat-card-header>
        <div class='row'>
            <div class='col-sm-6'>
                <img src='' id="{{partieSimple['_id']}}" class='gameImage img-responsive mat-elevation-z6 center'
                [class.mat-elevation-z6]="!partieSimple.isElevatedActive"
                [class.mat-elevation-z10]="!!partieSimple.isElevatedActive">
            </div> 
            <div class='col-sm-6'>
                <div class="container">
                    <div class="col-2"></div>
                    <div class="col">
                        <h2 class='topThreeHeaders text-center'>Top <img class='bronzeMedal' src="assets/bronze-medal.png"></h2>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col">
                            <h2 class='headers'> Solo </h2>
                        </div>
                        <div class="col">
                            <h2 class='headers'> 1v1 </h2> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <span matBadge="1" matBadgeOverlap="true" matBadgeColor="warn"></span>
                        </div>
                        <div class="col temps">
                            {{ getBestTime(partieSimple._tempsSolo) }}
                        </div>
                        <div class="col temps">
                            {{ getBestTime(partieSimple._tempsUnContreUn) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <span matBadge="2" matBadgeOverlap="true" matBadgeColor="warn"></span>
                        </div>
                        <div class="col temps">
                            {{ getSecondBestTime(partieSimple._tempsSolo) }}
                        </div>
                        <div class="col temps">
                            {{ getSecondBestTime(partieSimple._tempsUnContreUn) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <span matBadge="3" matBadgeOverlap="true" matBadgeColor="warn"></span>
                        </div>
                        <div class="col temps">
                            {{ getThirdBestTime(partieSimple._tempsSolo) }}
                        </div>
                        <div class="col temps">
                            {{ getThirdBestTime(partieSimple._tempsUnContreUn) }} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col boutons d-flex flex-row bd-highlight justify-content-end">
                    <button class="p-2 bd-highlight" mat-button (click) = "onJouerOuReinitialiserClick(partieSimple._id)" class='mat-elevation-z6'> {{jouerOuReinitialiser}} </button>
                    <button class="p-2 bd-highlight" mat-button (click) = "onCreerOuSupprimerClick(partieSimple._id)" class='mat-elevation-z6'> {{listePartieEnAttente.includes(partieSimple._id) ? joindreOuSupprimer : creerOuSupprimer}} </button>
                </div>
            </div>
    </mat-card>  
    <br>
    {{this.afficherImage(partieSimple["_id"])}}
</div>