@import url('https://fonts.googleapis.com/css?family=Handlee');

mat-card
{
    background-color: #dadada;
    border-radius:5px;
    margin-bottom:2%;
    height:75%;
    width:90%;
    min-width: 515px;
    max-width: 743px;
}

mat-card-header
{
    justify-content: right;
    margin-bottom:2%;
    border-bottom:5px solid #e6e5e5;

}

.gameNameHeader
{
    font-weight: bolder;
    color:black;
    font-family: 'Handlee', cursive;
    margin-top:0;
    font-size:250%;

}

.titleFirstLetter{
    color: #dc3545;
}

.gameImage
{
    border-radius:5px;
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-top: 13%;
}

.topThreeHeaders
{   
    padding: 1% 10% 0 0;
    width:100%;
    text-align: center;
    font-size:200%;
    color:black;
}

.headers{
    margin-top:-17px;
    width:100%;
    text-align: center;
    font-size:200%;
    color:black;
}

.row-header{
    padding-top:5%;

}

.mat-button{
    border-radius: 5px;
}

.bronzeMedal{
    width:10%;
    float:top;
}

.top3{
    width: 8rem;
    margin: 0 auto;
}

.temps{
    padding-top: 5%;
} 

mat-badge{
    margin: auto;
}


.mat-button{
    margin: 0 0 2% 5%;
}

.joindre{
    background: #007bff7a;
}

.title{
    overflow:hidden;
    text-align:center;
    background: #e6e5e5;
    border-radius: 10px 10px 0 0;
    padding-top: 1.5%;
}

col-1{
    display: flex;
    padding: 3%;
}

.badge-pill {
    padding: .6em .9em;
    margin-left:2%;
    margin-top: 200%;
}

@media (min-width: 576px){
    .col-sm-5 {
        flex: auto;
    }
}

.card-body{
    padding:0;
    text-align: center;
}

.card{
    background-color: transparent;
    border:none;
}

.card-subtitle{
    text-transform: capitalize;
}