@import url('https://fonts.googleapis.com/css?family=Poiret+One');

mat-card
{
    background-color: #dadada;
    border-radius:20px;
    margin-bottom:2%;
    height:75%;
    width:90%;
}

mat-card-header
{
    justify-content: center;
    margin-bottom:2%;
}

.top 
{
    margin-left:3%;
}

.gameNameHeader
{
    font-weight: bolder;
    color:black;
    font-family: 'Poiret One', cursive;
    /* text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    font-style:italic;
    margin-top:0;
    font-size:250%;
}

.titleFirstLetter{
    color: #ff5252;
}

.gameImage
{
    border-radius:20px;
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topThreeHeaders
{   
    padding: 0 0 5% 25%;
    margin-top:-17px;
    width:100%;
    text-align: center;
    font-size:200%;
    color:black;
    /* text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.headers{
    margin-top:-17px;
    width:100%;
    text-align: center;
    font-size:200%;
    color:black;
}

.topThreeNumbersColumn
{
    margin-top:10%;
    display: block;
    line-height: 40px;
}

.mat-button{
    border-radius: 10px;
}

.numberOneImage{
    font-size:30px;
}

.bronzeMedal{
    width:15%;
    float:top;
    padding-bottom:5%;
}

.temps {
    font-size: 0.85em;
    margin: 2% 0;
    text-align: center;
}

mat-badge{
    margin: auto;
}

.col-2{
    margin:auto;
}


.mat-button{
    margin: 4% 0 2% 5%;
}