<h1 mat-dialog-title>Ajouter une partie en point de vue simple</h1>
<hr>
<div mat-dialog-content>
    <mat-card class='addGameCard mat-elevation-z10'>
        <div class='gameName'>
            <mat-form-field class='formField'>
                <input matInput [(ngModel)]="data.simpleGameName" type='text' placeholder="Nom de la partie" class='gameNameInput'>
                <!-- TODO : <mat-error *ngIf="show"> {{ outOfBoundNameLengthMessage }} </mat-error> -->
            </mat-form-field>
        </div>
        <div class='firstImage'>
            <button mat-button class='mat-elevation-z6'><label for="uploadImage1" style='margin:0'>Première image</label></button>
            <input id='uploadImage1' type="file" accept="image/*" #file style="visibility:hidden;" (change)='onFileSelected($event)'>
            <div class='imageFrame' id='firstImageFrame'> 
                <div id='maskHeigth'></div>                      
                <div id='maskWidth'></div>                      
            </div>
        </div>
        <div class='secondImage'>
                <button mat-button class='mat-elevation-z6'><label for="uploadImage2" style='margin:0'>Deuxième image</label></button>
                <input id='uploadImage2' type="file" accept="image/*" #file style="visibility:hidden;">
            <div class='imageFrame' id='secondImageFrame'> 
                <div id='maskHeigth'></div>           
                <div id='maskWidth'></div>           
            </div>
        </div>
    </mat-card>
    <button mat-button (click)='onAddSimpleGameClick()' class='dialogButtons mat-elevation-z6'>Ajouter</button>
    <button mat-button (click)="onNoClick()" class='dialogButtons mat-elevation-z6'>Annuler</button>
    <p id='errorMessage'> {{ outOfBoundNameLengthMessage }} </p> 
</div>
