<div *ngFor="let partieMultiple of listeParties">
  <mat-card class='container-fluid' 
  [class.mat-elevation-z6]="!partieMultiple.isElevatedActive"
  [class.mat-elevation-z10]="partieMultiple.isElevatedActive"
  (mouseenter)="partieMultiple.isElevatedActive = !partieMultiple.isElevatedActive"
  (mouseleave)="partieMultiple.isElevatedActive = !partieMultiple.isElevatedActive">
      <mat-card-header>
            <h2 class='gameNameHeader titleFirstLetter'>{{getTitleFirstLetter(partieMultiple._nomPartie)|uppercase}}</h2> 
            <h2 class='gameNameHeader'>{{getTitleWithoutFirstLetter(partieMultiple._nomPartie)}}</h2> 
      </mat-card-header>
      <div class='row'>
          <div class='col-sm-6'>
              <img src='' id="{{partieMultiple['_id']}}" class='gameImage img-responsive mat-elevation-z6 center'
              [class.mat-elevation-z6]="!partieMultiple.isElevatedActive"
              [class.mat-elevation-z10]="partieMultiple.isElevatedActive">
          </div> 
          <div class='col-sm-6'>
              <div class='row'>
                  <div class='col-sm-12 top'>
                      <h2 class='topThreeHeaders'>Top <img class='bronzeMedal' src="assets/bronze-medal.png"></h2>
                  </div>
                  <div class='col-sm-1 text-center topThreeNumbersColumn'>
                      <span matBadge="1" matBadgeOverlap="true" matBadgeColor="warn"></span> <br>
                      <span matBadge="2" matBadgeOverlap="true" matBadgeColor="warn"></span> <br>
                      <span matBadge="3" matBadgeOverlap="true" matBadgeColor="warn"></span> <br>
                  </div>  
                  <div class='col-sm-4 text-center'>
                      <h2 class='topThreeHeaders'> Solo </h2>
                      <p> {{ getBestTime(partieMultiple._tempsSolo) }} </p> 
                      <p> {{ getSecondBestTime(partieMultiple._tempsSolo) }} </p> 
                      <p> {{ getThirdBestTime(partieMultiple._tempsSolo) }} </p> 
                      <button mat-button class='mat-elevation-z6'
                              [routerLink]="['/partie-solo']" routerLinkActive="router-link-active"> {{jouerOuReinitialiser}} </button>
                  </div>
                  <div class='col-sm-2'></div>
                  <div class='col-sm-4 text-center'>
                      <h2 class='topThreeHeaders'> 1v1 </h2> 
                      <p> {{ getBestTime(partieMultiple._tempsUnContreUn) }} </p> 
                      <p> {{ getSecondBestTime(partieMultiple._tempsUnContreUn) }} </p> 
                      <p> {{ getThirdBestTime(partieMultiple._tempsUnContreUn) }} </p>
                      <button mat-button (click) = "onCreerOuSupprimerClick(partieMultiple._id)" class='mat-elevation-z6'> {{creerOuSupprimer}} </button>
                  </div>
              </div>
          </div>
      </div>
  </mat-card>  
  <br> 
  <!-- {{this.afficherImage(partieMultiple["_id"])}} -->
</div>

