<div *ngFor="let partieMultiple of listeParties">
        <mat-card class='container-fluid' 
        [class.mat-elevation-z6]="!partieMultiple.isElevatedActive"
        [class.mat-elevation-z10]="!!partieMultiple.isElevatedActive"
        (mouseenter)="partieMultiple.isElevatedActive = !partieMultiple.isElevatedActive"
        (mouseleave)="partieMultiple.isElevatedActive = !partieMultiple.isElevatedActive">
            <mat-card-header>
                    <div class=col-sm-7>
                        <h2 class='topThreeHeaders text-center'>Top <img class='bronzeMedal' src="assets/bronze-medal.png"></h2>
                    </div>
                    <div class="col-sm-5 title">
                        <span class='gameNameHeader titleFirstLetter'>{{getPremiereLettreTitre(partieMultiple.nomPartie)|uppercase}}</span>
                        <span class='gameNameHeader'>{{getTitreSansPremiereLettre(partieMultiple.nomPartie)|lowercase}}</span>
                    </div>
            </mat-card-header>
            <div class='row'>
                <div class='col-7'>
                    <div class="row row-header">
                        <div class="col-1"></div>
                        <div class="col-5">
                            <h2 class='headers'> Solo </h2>
                        </div>
                        <div class="col-5">
                            <h2 class='headers'> 1v1 </h2> 
                        </div>
                        <div class="col-1 carte"></div>
                     </div>
                     <div class="row temps carte"  *ngFor="let tempsSolo of partieMultiple.tempsSolo; let i = index">
                        <div class="col-1">
                            <span class="badge badge-pill badge-danger">{{i+1}}</span>
                        </div>
                        <div class="card col-5" class="top3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ getTempsDisplay(tempsSolo) }}
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ tempsSolo.nom }}
                                </h6>
                            </div>
                        </div>
                        <div class="card col-5" class="top3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ getTempsDisplay(partieMultiple.tempsUnContreUn[i]) }}
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ partieMultiple.tempsUnContreUn[i].nom }}
                                </h6>
                            </div>
                        </div>
                        <div class="col-1"></div>
                     </div>
                </div>
                <div class='col-sm-5'>
                    <img #image [src]="partieMultiple.imageBlob" [id]="partieMultiple.id" class='gameImage img-responsive mat-elevation-z6 center'
                        [class.mat-elevation-z6]="!partieMultiple.isElevatedActive"
                        [class.mat-elevation-z10]="!!partieMultiple.isElevatedActive">
                </div> 
            </div>    
            <div class="row">
                    <div class="col boutons d-flex flex-row bd-highlight justify-content-end">
                        <button class="p-2 bd-highlight" mat-button (click) = "onJouerOuReinitialiserClick(partieMultiple.id)" class='mat-elevation-z6'> {{jouerOuReinitialiser}} </button>
                        <button class="p-2 bd-highlight" mat-button (click) = "onCreerOuSupprimerClick(partieMultiple.id)" class='mat-elevation-z6' [ngClass] = "listePartieEnAttente.includes(partieMultiple.id) ? 'joindre animated infinite rubberBand delay-2s' : ''"> 
                            {{listePartieEnAttente.includes(partieMultiple.id) ? joindreOuSupprimer : creerOuSupprimer}} 
                        </button>
                    </div>
                </div>
        </mat-card>  
        <br>
    </div>